<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ocul.longestlovestoryever.washere">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="ocul.longestlovestoryever.washere.Views.Activities.User_Entrance_Activity.UserEntranceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ocul.longestlovestoryever.washere.Views.Activities.Map_Activity.MapActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="3NRUZEaD8bDrqdv2F7dF" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="u0QjYxj86q2K0SYUxc4wPA" />
        <meta-data
            android:name="com.here.android.maps.license.key"

            android:value="c9xWTDGAxoDOgVsVGt+gJR9bY3Je0Qr242rivRQ1C9RsZMaxEQ0Gqo1Fn7mDycQlg6Nor6kTdA0Xo+vyTZCqm9kYg7DlIe/v6N3zPrm/nKH00E+PfpMdNJxY7UvGLKIQXoUSRr7jlT0/Et6C4MnmKvmgsHHaCioi4ql1BvAOWvMbh8IScMKK9efvLbOHzkkKXs/Zqb0v1gW/hU9bQbWereCE9WzWv4nGfXDlKW9TrwvMjf0oH0ymMcIh3KavsMi/6D7qCh/9frXSyK57Td0mJIujda0xdHJrE7v6J/wpJenLGO+wHGOqRoQp62ye4KDjH5kN21D5cpX1heXVyRnrjVzLerx6Ta92jGFpO3brWMO4jKLKvwlUxDDlRDoTy+wKaPVdDfQCbv6sjuRQcT98q8/1L6K6NcbJk0cokEtnbRPNG3xa+dSwVF7IvyKkCia+RuEWYYFiLND4wn4v9yjQrdQqXTCdNx2jeeg8Qr0j3MNuRlOe1w+F/9VchRM+ALLPcoFGzHDOHErUhjraBS/N8cPPJFQWeB3WwSP5lfiHd/rj2KSkoIfeKQteQhxzbzOHMwmgfHZqsQgFEAWa+XdWEa5gfL9V24ZTfOYMle3dz9PUGN0dwCsG+ueXZMaNE1tA+4mggvGaTu6wrnn5UZpRXw8A0Cu7Pk8iLFbJsIsT1BI=" />
        <meta-data
            android:name="INTENT_NAME"
            android:value="{YOUR_INTENT_NAME}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="{YOUR_LABEL_NAME}">
            <intent-filter>
                <action android:name="{YOUR_INTENT_NAME}" />
            </intent-filter>
        </service>
        <service
            android:name="com.here.services.internal.LocationService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
    </application>

</manifest>